*{
    background-color: rgb(17, 15, 15);
    padding: 0;
    margin: 3px 10px;
    font-family: 'Inconsolata', monospace;
    color: rgb(237, 237, 237);
}
table{
    border: 1px solid rgb(237, 237, 237);
    margin: auto auto;
    width: 50%;
    border-radius: 7px;
    
}
tr, th{
    padding: 10px;
}

.logo{
    display: inline-block;
    font-size: 50px;
}
.logo::first-letter{
    color: red;
}
#logo{
    margin-left: -5px;
}
h2{
    margin: 40px 20px;
    text-align: center;
}
.root{
    height: 50px;
}

