*{
    background:     #fef9f8;
    font-family: 'Poppins', sans-serif;  
    background-attachment: fixed;
    margin: 0;
    box-sizing: border-box;
    color: #0d0d0d;
    padding: 10px;
}

.wrapper{
    margin: 50px auto;
}
p{
    padding: 30px;
    
}

#line {
    flex: 1;
  border-bottom: 3px dashed #ef9273;
  margin-bottom: 10px;
    
}
#writerimg {
    width: 100px;
    height: 100px;
    float: left;
    border-radius: 25%;
}
.about{
    font-family: Helvetica;
    color: rgba(0, 0, 0, 0.5);
    float: left;
    padding: 40px;
    font-size: 14px;
    padding-left: 5px;
    text-transform: uppercase;
}

h1, h2{
    color: #ef9273;
}
img{
    float: left;
    border-radius: 40px;
}



